{
  "extends": ["prettier"],
  "plugins": ["lodash", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 7
  },
  "env": {
    "amd": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": [0, "as-needed"],
    "class-methods-use-this": 0,
    "func-names": 0,
    "guard-for-in": 0,
    "import/extensions": 0,
    "import/no-cycle": 0,
    "import/no-duplicates": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default-member": 0,
    "import/no-self-import": 0,
    "import/no-unresolved": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/prefer-default-export": 0,
    "indent": 0,
    "lines-between-class-members": 0,
    "max-len": [1, 120],
    "no-await-in-loop": 0,
    "no-bitwise": [2,{"allow": ["~"]}],
    "no-case-declarations": 0,
    "no-confusing-arrow": 0,
    "no-console": 0,
    "no-continue": 0,
    "no-extra-boolean-cast": 0,
    "no-loop-func": 0,
    "no-mixed-operators": 0,
    "no-nested-ternary": 0,
    "no-new-func": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": 0,
    "no-return-assign": 0,
    "no-return-await": 0,
    "no-shadow": 0,
    "no-trailing-spaces": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": 0,
    "no-use-before-define": 0,
    "object-curly-newline": 0,
    "object-curly-spacing": [2, "never"],
    "operator-linebreak": 0,
    "quote-props": 0,
    "radix": [0, "as-needed"],
    "semi": [2, "always"],
    "semi-spacing": 2
  }
}
